{% extends 'atados_nonprofit/base.html' %}
{% load i18n thumbnail %}

{% block _css %}
<style>
  body {
    padding-top:66px;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 20px;
    }
    .container.navbar-wrapper {
      margin-bottom: 0;
      width: auto;
    }
    .navbar-inner {
      border-radius: 0;
      margin: -20px 0;
    }
  }
  @media (max-width: 767px) {
    body {
      padding-top: 20px;
    }
  }
</style>
{% endblock %}

{% block header %}
<div id="nonprofit-header">
  <div class="cover">
    {% thumbnail nonprofit.cover "1170x285" crop="center" as im %}
    <img alt="{{ nonprofit }}" src="{{ im.url }}" />
    {% endthumbnail %}

  </div><!-- /.cover -->

  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="nonprofit-image">
          {% thumbnail nonprofit.image "170x170" crop="center" as im %}
          <img class="img-rounded" alt="{{ nonprofit }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
          {% if nonprofit in nonprofit_list %}
          <a class="btn" href="{% url "nonprofit:edit-nonprofit-picture" nonprofit.slug %}"><i class="icon-edit"></i> {% trans "Edit profile picture" %}</a>
          {% endif %}
          {% empty %}
          <div class="img-rounded icon nonprofit large"></div>
          {% if nonprofit in nonprofit_list %}
          <a class="btn" href="{% url "nonprofit:edit-nonprofit-picture" nonprofit.slug %}"><i class="icon-edit"></i> {% trans "Add profile picture" %}</a>
          {% endif %}
          {% endthumbnail %}
        </div><!-- /.nonprofit-image -->

        <h1>{{ nonprofit.name }}</h1>

        {% if nonprofit in nonprofit_list %}
        <div class="tools">
          <a href="{% url "nonprofit:edit-nonprofit-cover" nonprofit.slug %}" class="btn">{% if nonprofit.cover %}{% trans "Edit nonprofit cover" %}{% else %}{% trans "Add a cover picture" %}{% endif %}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<li class="active">{{ nonprofit.name }}</li>
{% endblock %}

{% block content %}
<div id="nonprofit-details">
  <div class="row">
  </div>
  <div class="row">
    <div class="span9">
      <div class="details">
        <h2>{% trans "Who we are and what we do" %}</h2>
        <p>
        {% if nonprofit.details %}
          {{ nonprofit.details }}
        {% else %}
          {% trans "Nothing about this nonprofit" %}
        {% endif %}
        </p>
      </div>
      {% if nonprofit.causes.all %}
      <h2>{% trans "Causes" %}</h2>
      <div style="margin-bottom:40px">
        {% for cause in nonprofit.causes.all %}
        <span class="tag">{{ cause }}</span>
        {% endfor %}
      </div>
      {% endif %}
      <h2>{% trans "Projects" %}</h2>
      <div class="project-list">
        <div class="row">
          {% for project in nonprofit.project_set.active %}
          {% include "atados_project/project-item.html" with project=project %}
          {% if forloop.counter|divisibleby:3 and not forloop.last  %}
        </div>
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
      </div><!-- /.project-list -->
    </div>
    <div class="span3" style="margin-top:55px;">
      <a href="#" class="btn btn-info btn-block">Compartilhe com os amigos</a>
      <a href="#" class="btn btn-primary btn-block" style="margin-bottom:20px">Envie uma mensagem</a>
      <div class="well">
        Mapa?
      </div>
      <div class="well">
        <span class="well-title">{% trans "Contact" %}</span>
        <p>...</p>
      </div>
      <div class="well">
        <span class="well-title">{% trans "Volunteers" %}</span>
        <p>...</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
