{% extends 'atados_nonprofit/base.html' %}
{% load i18n thumbnail atados_tags %}

{% block title %}{{ nonprofit.name }}{% endblock %}

{% block header %}
<div id="nonprofit-header">
  <div class="cover">
    {% thumbnail nonprofit.cover "1170x280" crop="center" as im %}
    <img alt="{{ nonprofit }}" src="{{ im.url }}" />
    {% endthumbnail %}
  </div><!-- /.cover -->

  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="image">
          {% thumbnail nonprofit.image "170x170" crop="center" as im %}
          <img alt="{{ nonprofit }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
          {% if nonprofit in nonprofit_list %}
          <a class="btn" href="{% url "nonprofit:edit-nonprofit-picture" nonprofit.slug %}"><i class="icon-edit"></i> {% trans "Edit profile picture" %}</a>
          {% endif %}
          {% empty %}
          <img src="{{ STATIC_URL }}img/thumb/170x170.gif" width="170" height="170" />
          {% if nonprofit in nonprofit_list %}
          <a class="btn" href="{% url "nonprofit:edit-nonprofit-picture" nonprofit.slug %}"><i class="icon-edit"></i> {% trans "Add profile picture" %}</a>
          {% endif %}
          {% endthumbnail %}
        </div><!-- /.image -->

        <h1>{{ nonprofit.name }}</h1>

        {% if nonprofit in nonprofit_list %}
        <div class="tools">
          <a href="{% url "nonprofit:edit-nonprofit-cover" nonprofit.slug %}" class="btn">{% if nonprofit.cover %}{% trans "Edit nonprofit cover" %}{% else %}{% trans "Add a cover picture" %}{% endif %}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<li class="active">{{ nonprofit.name }}</li>
{% endblock %}

{% block content %}
<div id="nonprofit-details">
  <div class="row">
  </div>
  <div class="row">
    <div class="span9">
      <div class="details">
        <h2>{% trans "Who we are and what we do" %}</h2>
        {% if nonprofit.details %}
        {{ nonprofit.details|linebreaks }}
        {% else %}
        <p>{% trans "Nothing about this nonprofit" %}</p>
        {% endif %}
      </div>
      {% if nonprofit.causes.all %}
      <h2>{% trans "Causes" %}</h2>
      <div style="margin-bottom:40px">
        {% for cause in nonprofit.causes.all %}
        <span class="tag">{{ cause }}</span>
        {% endfor %}
      </div>
      {% endif %}
      
      {% if nonprofit.project_set.published %}
      <h2>{% trans "Projects" %}</h2>
      <div class="project-list">
        <div class="row">
          {% for project in nonprofit.project_set.published %}
          {% include "atados_project/project-item.html" with project=project %}
          {% if forloop.counter|divisibleby:3 and not forloop.last  %}
        </div>
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
      </div><!-- /.project-list -->
      {% endif %}

    </div>
    <div class="span3" style="margin-top:55px;">
      <div class="well">
        <span class="well-title">{% trans "Location" %}</span>
        {% if nonprofit.address.addressline %}
        <p>{{ nonprofit.address.addressline }}</p>
        {% endif %}
        <p>{{ nonprofit.address|as_location_string }}</p>
      </div>
      <div class="well">
        <span class="well-title">{% trans "Contact" %}</span>
        <p>{{ nonprofit.user.first_name }}</p>
        <p>{{ nonprofit.user.email }}</p>
        <p>{{ nonprofit.phone }}</p>
      </div>
      {% if nonprofit.get_volunteers %}
      <div class="well">
        <span class="well-title">{% trans "Volunteers" %}</span>
        {% for volunteer in nonprofit.get_volunteers %}
        <div class="media">
          {% thumbnail volunteer.image "34x34" crop="center" as im %}
          <a href="{{ volunteer.get_absolute_url }}" class="pull-left"><img class="media-object" alt="{{ volunteer }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
          {% empty %}
          <a href="{{ volunteer.get_absolute_url }}" class="pull-left"><img class="media-object" src="{{ STATIC_URL }}img/thumb/34x34.gif" alt="" width="34" height="34"></a>
          {% endthumbnail %}
          <div class="media-body">
            <a href="{{ volunteer.get_absolute_url }}">{{ volunteer.user.first_name }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
