{% load i18n thumbnail %}
<div class="span3 project-item">
  <a href="{{ nonprofit.get_absolute_url }}">
    {% thumbnail nonprofit.image "270x180" crop="center" as im %}
    <img alt="{{ nonprofit }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% empty %}
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    {% endthumbnail %}
  </a>
  <a class="well-title" href="{{ nonprofit.get_absolute_url }}">{{ nonprofit.name }}</a>
  <p class="description">{{ nonprofit.details|truncatechars:100 }}</p>
</div>
