{% extends 'atados_nonprofit/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li class="active">{% trans "Nonprofit registration" %}</li>
{% endblock %}

{% block content %}
<div id="nonprofit-sign-up">
  <div class="page-header">
    <h1>{% trans "Join us to find more volunteers!" %}</h1>
  </div>

  <div class="row">
    <div class="span6 offset3">
      <form class="well" method="post" action="{% url "nonprofit:sign-up" %}">{% csrf_token %}
        <fieldset>
          <legend>{% trans "About the nonprofit" %}</legend>
          {{ form.nonprofit_name|as_bootstrap }}
          {{ form.slug|as_bootstrap }}
        </fieldset>
        <fieldset>
          <legend>{% trans "About you" %}</legend>
          {{ form.first_name|as_bootstrap }}
          {{ form.email|as_bootstrap }}
          {{ form.username|as_bootstrap }}
          {{ form.password1|as_bootstrap }}
          {{ form.password2|as_bootstrap }}
        </fieldset>
        <div class="form-terms alert">
          {% url "atados:home" as terms_url %}
          {% url "atados:home" as privacy_url %}
          {% blocktrans %}
          Ao clicar em "Registrar", você estará indicando que leu e concorda com os <a tabindex="-1"href="{{ terms_url }}">Termos de uso</a> e <a tabindex="-1" href="{{ privacy_url }}">Políticas de privacidade</a>.
          {% endblocktrans %}
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Registrar" %}</button>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
