*.py[cod]
*.swp
*.swo
.DS_Store

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Sass
*.scssc

#virtualenv
env

# Coverage
coverage_html_report/

#aws
#.ebextensions
.elasticbeanstalk/

#atados
atados.sqlite
storage
static
celerybeat-schedule
celeryev.pid
newsletter.txt
