export ATADOS_DEBUG=True

export AWS_STORAGE_BUCKET_NAME=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_KEY=

export ATADOS_DB_NAME=
export ATADOS_DB_HOSTNAME=
export ATADOS_DB_USERNAME=
export ATADOS_DB_PASSWORD=
export ATADOS_DB_PORT=3306

export ATADOS_SEARCH_ENDPOINT=localhost:9200
export ATADOS_MEMCACHED_ENDPOINT=localhost:11211

export ATADOS_EMAIL_USER=@atados.com.br
export ATADOS_EMAIL_PASSWORD=

export REUSE_DB=1
