{% load i18n socialaccount %}
{% providers_media_js %}

{% block content %}
  <div class="modal-content centered">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      <form id="foginForm" method="post" action="{% url "account_login" %}">
        {% csrf_token %}
        <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-facebook"><i class="icon-facebook"></i> | {% trans "Log in with Facebook" %}</a>
        <div class="hr"><div><span>{% trans "or" %}</span></div></div>
        {{ form }}
        <a class="btn" href="{% url "account_reset_password" %}">{% trans "Forgot Password?" %}</a>                                                                                                                                               
        <button type="submit" tabindex="6" class="btn btn-primary">{% trans "Sign in" %}</button>
      </form>
    </div>
  </div>
{% endblock %}
