{% extends "account/base.html" %}

{% load i18n bootstrap_toolkit socialaccount %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block breadcrumb %}
  <li class="active">{% trans "Sign up" %}</li>
{% endblock %}


{% block content %}
  <div id="sign-up">
    <div class="centered page-header">
      <h1>{% trans "Sign up! But before, tell us more abou you." %}</h1>
    </div>
    <div class="row">
      <div class="span4 offset2">
        <div class="well">
          <div style="height:235px">
            <h2>{% trans "I am a volunteer" %}</h2>
            <p>{% trans "Aqui vira o text explication porque voluntário." %}</p>
          </div>
          <a class="btn btn-primary btn-large btn-block" href="{% url "account_signup" %}">{% trans "Sign up" %}</a>
        </div>
      </div>
      <div class="span4">
        <div class="well">
          <div style="height:235px">
            <h2>{% trans "I am a nonprofit" %}</h2>
            <p>{% trans "Aqui vira o text explication porque ONG." %}</p>
          </div>
          <a class="btn btn-primary btn-large btn-block" href="{% url "account_signup" %}">{% trans "Sign up" %}</a>
        </div>
      </div>
    </div>
  </div>

  <p>{% blocktrans %}Already have an account? Then please <a class="login" href="#" data-form="login/">sign in</a>.{% endblocktrans %}</p>
{% endblock %}
