container_commands:
  01_install:
    command: "pip install -r requirements/development -q --use-mirrors"
    leader_only: true

  02_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true

  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true

  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: atados/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: atados.settings
