packages:
  yum:
    libjpeg-devel: '6b'

container_commands:
  01_install:
    command: "pip install -r requirements/development -q --use-mirrors"
    leader_only: true

  02_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true

  03_migrate:
    command: "django-admin.py migrate"
    leader_only: true

  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "atados.settings"
    "application_stage": "staging"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: atados/wsgi.py
    StaticFiles=/static=static/
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
