container_commands:
  01_install:
    command: "make install"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: atados/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: atados.settings
  - option_name: AWS_SECRET_KEY
    value: L/dOp7bM/hatEJblPoFPZt0gFYpAnYgqCNH/Cpa1
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAIWJVUNBGLRVIWSIQ
