{% extends 'atados_core/base.html' %}
{% load i18n flatblock_tags markup atados_tags %}

{% block out_breadcrumb %}
{% endblock %}

{% block content %}
<div class="page-header">
{% block title_about %}
  <h1>{% trans "About us" %}</h1>
{% endblock %}
</div>
<div class="row">
  <div class="span3">
    <ul class="nav nav-tabs nav-stacked">

      {% url "atados:about" as href %}
      <li class="{% active request href %}"><a href="{{ href }}">{% trans "About us" %}</a></li>

      {% url "atados:terms" as href %}
      <li class="{% active request href %}"><a href="{{ href }}">{% trans "Terms of service" %}</a></li>

      {% url "atados:privacy" as href %}
      <li class="{% active request href %}"><a href="{{ href }}">{% trans "Privacy" %}</a></li>

      {% url "atados:security" as href %}
      <li class="{% active request href %}"><a href="{{ href }}">{% trans "Security" %}</a></li>

    </ul>
  </div>
  <div class="span8">
    {% block content_about %}
    {% endblock %}
  </div>
</div>
{% endblock %}
