{% load i18n bootstrap_toolkit %}
<div class="location-fields{% if class %} {{ class }}{% endif %}">
  <div class="row-fluid">
    <div class="span4">
      {{ address_form.zipcode|as_bootstrap }}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8">
      {{ address_form.addressline|as_bootstrap }}
    </div>
    <div class="span4">
      {{ address_form.addressnumber|as_bootstrap }}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      {{ address_form.state|as_bootstrap }}
    </div>
  </div>
  <div class="row-fluid city-field{% if address_form.city.field.choices|length_is:0 %} hide{% endif %}">
    <div class="span6">
      {{ address_form.city|as_bootstrap }}
    </div>
  </div>
  <div class="row-fluid suburb-field{% if address_form.suburb.field.choices|length_is:0 %} hide{% endif %}">
    <div class="span6">
      {{ address_form.suburb|as_bootstrap }}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      {{ address_form.neighborhood|as_bootstrap }}
    </div>
  </div>
</div>
