{% load i18n bootstrap_toolkit socialaccount %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block fulltitle %}{% block title %}{{ site.name }}{% endblock %} - {{ site.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="robots" content="{% block robots %}index,follow{% endblock %}">
    {% block metas %}
    {% endblock %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <style type="text/css">

      /* TODO add to style sheet */
      body {
        padding-top: 86px;
        padding-bottom: 40px;
      }

      .centered {
        text-align: center;
      }

      .modal-body {
        max-height: 1000px;
      }
    </style>

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico?v=2" />

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}

  </head>
  <body>
    <div id="main" class="atados">

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <a class="brand" href="{% url "atados:home" %}">{{ site.name }}</a>

            <div class="nav-collapse collapse">

              {% block search %}
                <form class="navbar-search pull-left" action="{% url "atados:search" %}" method="get">
                  <input type="text" class="search-query" name="q" value="{{ form.q.value|default_if_none:"" }}" placeholder="{% trans "Start searching for good causes!" %}">
                </form>
              {% endblock %}

              {% if not user.is_authenticated %}
                <div  class="nav pull-right">
                  <button class="login btn btn-primary">{% trans "Sign in" %}</a>
                </div>
              {% else %}
                <ul class="nav pull-right">
                  <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }} <span class="caret"></span></a>
                  <ul class="dropdown-menu" style="left:auto; right:0">
                    <li>
                    <div style="padding:3px 15px; margin-bottom:12px">
                      <span style="display:block; text-transform:uppercase">{{ user.first_name }}</span>
                      <span style="display:block">{{ user.email }}</span>
                    </div>
                    </li>
                    <li><a href="{{ volunteer_session.get_absolute_url }}">{% trans "My profile" %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url "volunteer:edit" user.username %}">{% trans "Edit my information" %}</a></li>
                    <li class="divider"></li>
                    <li> <a class="logout" href="#">{% trans "Sign out" %}</a></li>
                  </ul>
                  </li>
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      {% block header %}
      {% endblock %}

            {% block out_breadcrumb %}
        <div class="container">
          <div class="row">
            <div class="span12">
              <ul class="breadcrumb">
                <li><a href="{% url "atados:home" %}">{% trans "Home" %}</a></li>
                {% block breadcrumb %}
                {% endblock %}
              </ul>
            </div>
          </div>
        </div>
      {% endblock %}

      {% if messages %}
        <div class="container">
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-success alert-dismissable">
                <strong>{% trans "Well done! " %}</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <div id="errorDiv" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>


      <div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true"></div>
      <div class="modal fade" id="logoutModal" tabindex="-1" aria-hidden="true"></div>

      {% block out_content %}
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      {% endblock %}

      <div class="container">
        <div id="footer" class="well">
          <div class="row-fluid">
            <div class="span3 logo">
              <div>
                {{ site.name }}
              </div>
            </div>
            <div class="span3">
              <h4>{{ site.name }}</h4>
              <ul>
                <li><a href="{% url "atados:about" %}">{% trans "About us" %}</a></li>
                <li><a href="#">{% trans "Colabore" %}</a></li>
                <li><a href="#">{% trans "Contact" %}</a></li>
                <li><a href="#">{% trans "News" %}</a></li>
              </ul>
            </div>
            <h4>{% trans "Social" %}</h4>
            <ul>
              <li><a href="http://www.atados.com.br/blog/">{% trans "Blog" %}</a></li>
              <li><a href="https://www.facebook.com/atadosjuntandogenteboa">{% trans "Facebook" %}</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="footer-legal" class="row">
        <ul>
          <li><a href="{% url "atados:terms" %}">{% trans "Terms of service" %}</a></li>
          <li><a href="{% url "atados:privacy" %}">{% trans "Privacy" %}</a></li>
          {% with site.name as site_name %}
            <li id="copyright">{% blocktrans %}&copy; 2013 {{ site_name }}{% endblocktrans %}</li>
          {% endwith %}
        </ul>
      </div><!-- /#footer-legal -->
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script src="{{ STATIC_URL }}js/jquery.infinitescroll.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/atados.js"></script>
    {% block js %}
    {% endblock %}

  </div><!-- /#main -->
</body>
</html>
