{% load i18n bootstrap_toolkit socialaccount %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block fulltitle %}{% block title %}{{ site.name }}{% endblock %} - {{ site.name }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="robots" content="{% block robots %}index,follow{% endblock %}">
        {% block metas %}
        {% endblock %}

        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />

        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico?v=2" />

        {% block css %}
        {% endblock %}

        {% block preload_js %}
        {% endblock %}

        {% block extra-head %}{% endblock %}

    </head>
    <body>
        <div id="main" class="atados">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">

                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        <a class="brand" href="{% url "atados:home" %}">{{ site.name }}</a>

                        <div class="nav-collapse collapse">

                            {% block search %}
                                <form class="navbar-search pull-left" action="{% url "atados:search" %}" method="get">
                                    <input type="text" class="search-query" name="q" value="{{ form.q.value|default_if_none:"" }}" placeholder="{% trans "Start searching for good causes!" %}">
                                </form>
                            {% endblock %}

                            {% if not user.is_authenticated %}
                                {% providers_media_js %}
                                <div  class="nav pull-right">
                                    <a data-toggle="modal" href="#loginModal" class="btn btn-primary">{% trans "Sign in" %}</a>
                                </div>
                            {% else %}
                                <ul class="nav pull-right">
                                    <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu" style="left:auto; right:0">
                                        <li>
                                        <div style="padding:3px 15px; margin-bottom:12px">
                                            <span style="display:block; text-transform:uppercase">{{ user.first_name }}</span>
                                            <span style="display:block">{{ user.email }}</span>
                                        </div>
                                        </li>
                                        <li><a href="{{ volunteer_session.get_absolute_url }}">{% trans "My profile" %}</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{% url "volunteer:edit" user.username %}">{% trans "Edit my information" %}</a></li>
                                        <li class="divider"></li>
                                        <li><a data-toggle="modal" href="#logoutModal">{% trans "Sign out" %}</a></li>
                                    </ul>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% block header %}
            {% endblock %}

            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-facebook"><i class="icon-facebook"></i> | {% trans "Log in with Facebook" %}</a>
                            <div class="hr">
                                <div>
                                    <span>{% trans "or" %}</span>
                                </div>
                            </div>

                            <form class="form-inline login" method="POST" action="{% url "account_login" %}">
                                {% csrf_token %}
                                <input type="text" class="input-small span2" name="username" placeholder="{% trans "E-mail" %}">
                                <input type="password" class="input-small span2" name="password" placeholder="{% trans "Password" %}">
                                <button type="submit" class="btn btn-primary">{% trans "Sign in" %}</button>
                                <label class="checkbox">
                                    <input type="checkbox" name="rememberme" checked="checked" /> {% trans "Stay signed in" %}
                                    <input type="hidden" name="next" value="{{ request.path }}" />
                                </label>
                                <a href="#">{% trans "Forgot password?" %}</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>{% trans "Are you sure you want to sign out?" %}</h3>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">{% trans "Sign Out" %}</button>
                    </form>
                </div>
            </div>

            {% block out_breadcrumb %}
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <ul class="breadcrumb">
                                <li><a href="{% url "atados:home" %}">{% trans "Home" %}</a></li>
                                {% block breadcrumb %}
                                {% endblock %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% if messages %}
                <div class="container">
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissable">
                            <strong>{% trans "Success! " %}</strong> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% block out_content %}
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            {% endblock %}

            <div class="container">
                <div id="footer" class="well">
                    <div class="row-fluid">
                        <div class="span3 logo">
                            <div>
                                {{ site.name }}
                            </div>
                        </div>
                        <div class="span3">
                            <h4>{{ site.name }}</h4>
                            <ul>
                                <li><a href="{% url "atados:about" %}">{% trans "About us" %}</a></li>
                                <li><a href="#">{% trans "Colabore" %}</a></li>
                                <li><a href="#">{% trans "Contact" %}</a></li>
                                <li><a href="#">{% trans "News" %}</a></li>
                            </ul>
                        </div>
                        <h4>{% trans "Social" %}</h4>
                        <ul>
                            <li><a href="http://www.atados.com.br/blog/">{% trans "Blog" %}</a></li>
                            <li><a href="https://www.facebook.com/atadosjuntandogenteboa">{% trans "Facebook" %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="footer-legal" class="row">
                <ul>
                    <li><a href="{% url "atados:terms" %}">{% trans "Terms of service" %}</a></li>
                    <li><a href="{% url "atados:privacy" %}">{% trans "Privacy" %}</a></li>
                    {% with site.name as site_name %}
                    <li id="copyright">{% blocktrans %}&copy; 2013 {{ site_name }}{% endblocktrans %}</li>
                    {% endwith %}
                </ul>
            </div><!-- /#footer-legal -->

        </div>

        <script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.infinitescroll.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/atados.js"></script>
        {% block js %}
        {% endblock %}

    </div><!-- /#main -->
</body>
</html>
