{% load i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block fulltitle %}{% block title %}{{ site.name }}{% endblock %} - {{ site.name }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="robots" content="{% block robots %}index,follow{% endblock %}">
    {% block metas %}
    {% endblock %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}

  </head>
  <body>
    <div id="main" class="atados">

      <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="{% url "atados:home" %}">{{ site.name }}</a>
          </div>
        </div>
      </div>

      {% block out_content %}
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
      {% endblock %}

      </div>

      {% block js %}
      {% endblock %}

    </div><!-- /#main -->
  </body>
</html>
