{% extends 'atados_core/base.html' %} {% load i18n bootstrap_toolkit thumbnail %}

{% block fulltitle %}{{ site.name }}{% endblock %}

{% block out_breadcrumb %}
{% endblock %}

{% block css %}
<style>
  /* GLOBAL STYLES
  -------------------------------------------------- */
  /* Padding below the footer and lighter body text */

  body {
    padding-top:66px;
  }

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom:30px;
  }

  .carousel .container {
    position:relative;
    z-index:9;
  }

  .carousel-control {
    height:80px;
    margin-top:0;
    font-size:120px;
    background-color:transparent;
    border:0;
    z-index:10;
  }

  .carousel .lead {
    font-size:14px;
    line-height:1.5;
    color:#fff;
    margin:8px 0 4px;
  }

  .carousel .item {
    height:300px;
    overflow:hidden;
  }
  .carousel img {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    min-width:1024px;
  }

  .carousel-caption {
    background-color:transparent;
    position:static;
    max-width:550px;
    padding:0 20px 0 0;
    margin-top:60px;
  }
  .carousel-caption h1 {
    margin:0;
    line-height:1.25;
    color:#fff;
  }
  .carousel-caption .btn {
    margin-top:10px;
  }

  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (max-width: 979px) {

    body {
      padding-top: 20px;
    }

    .container.navbar-wrapper {
      margin-bottom: 0;
      width: auto;
    }
    .navbar-inner {
      border-radius: 0;
      margin: -20px 0;
    }

    .carousel .item {
      height: 300px;
    }
    .carousel img {
      height: 300px;
    }
  }


  @media (max-width: 767px) {

    body {
      padding-top: 20px;
    }

    .carousel {
      margin-left: -20px;
      margin-right: -20px;
    }
    .carousel .container {

    }
    .carousel .item {
      height: 400px;
    }
    .carousel img {
      width:1365px;
      min-width:1365px;
      height:400px;
    }
    .carousel-caption {
      width: 65%;
      padding: 0 70px;
      margin-top: 100px;
    }
    .carousel-caption h1 {
      font-size: 28px;
    }
    .carousel-caption .lead,
    .carousel-caption .btn {
      font-size: 12px;
    }
  }
</style>
{% endblock %}

{% block out_content %}
<div id="home">
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="{{ STATIC_URL }}img/carousel/1.jpg" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Encontre os mais<br>diversos atos voluntários</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-small btn-primary btn-project-list-filter" href="#project-list-filter">{% trans "Explore" %}</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="{{ STATIC_URL }}img/carousel/2.jpg" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-small btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="{{ STATIC_URL }}img/carousel/3.jpg" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-small btn-primary" href="#">Browse gallery</a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div><!-- /.carousel -->

  <div class="container">
    <div class="row">
      <div class="span9">
        <h2>{% trans "Recommended" %}</h2>
        <div class="project-list">
          <div class="row">
            {% for result in recommended %}
            <div class="span3 project-item">
              {% thumbnail result.object.image "270x180" crop="center" as im %}
              <img alt="{{ result.object }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% empty %}
              <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
              {% endthumbnail %}
              <a class="well-title" href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
              <p class="description">{{ result.object.details|truncatechars:144 }}</p>
            </div>
            {% endfor %}
          </div>
        </div>

        <div id="project-list-filter" class="project-list-filter">
          <a href="#" class="active">{% trans "Projects" %}</a>
          <a href="#">{% trans "Nonprofits" %}</a>
          <div class="filters">
            <p>{% trans "Find projects by their..." %}</p>
            <div class="row-fluid">
              <div class="span3">
                <select class="input-block-level">
                  <option>{% trans "Cause" %}</option>
                </select>
              </div>
              <div class="span3">
                <select class="input-block-level">
                  <option>{% trans "Skill" %}</option>
                </select>
              </div>
              <div class="span3">
                <select class="input-block-level">
                  <option>{% trans "Location" %}</option>
                </select>
              </div>
              <div class="span3">
                <select class="input-block-level">
                  <option>{% trans "Availability" %}</option>
                </select>
              </div>
            </div>
          </div>
        </div><!-- /.project-list-filter -->

        <div class="project-list infinite">
          <div class="row">
            {% for result in projects %}
            <div class="span3 project-item">
              {% thumbnail result.object.image "270x180" crop="center" as im %}
              <img alt="{{ result.object }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% empty %}
              <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
              {% endthumbnail %}
              <a class="well-title" href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
              <p class="description">{{ result.object.details|truncatechars:144 }}</p>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last  %}
          </div>
          <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div><!-- /.project-list -->
        <div class="navigation">
          <a href="#" class="next">{% trans "Next page" %}</a>
        </div>
        <div class="infinite-preloader"></div>
        <div class="infinite-navigation hide">
          <a href="#" class="more btn btn-primary input-block-level">{% trans "Load more" %}</a>
        </div>
      </div><!-- /.span9 -->
      <div class="span3" style="margin-top:55px">
        <div class="well">
          <a href="http://blog.atados.com.br" class="well-title">{% trans "/blog" %}</a>
        </div>
        <div class="well">
          <a href="https://twitter.com/movimentoatados" class="well-title">{% trans "@movimentoatados" %}</a>
        </div>
      </div><!-- /.span3 -->
    </div><!-- /.row -->
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  ( function ( w , $ , undefined ) {

    var filterTop = $('.filters').offset().top;

    $(w).scroll(function() {
      if (filterTop < ($(window).scrollTop() + 40)) {
        $('.project-list-filter .filters').addClass('fixed');
        } else {
        $('.project-list-filter .filters').removeClass('fixed');
      }
    });

    $(".btn-project-list-filter").click(function() {
      $('html, body').animate({
        scrollTop: $("#project-list-filter").offset().top
      }, 500);
      return false;
    });

  }( window , window.jQuery ));
</script>
{% endblock %}
