$blue:#25b3ef;
$grayDarker:#222;
$grayDark:#333;
$gray:#babdbe;
$grayLight:#999;
$grayLighter:#eee;
$darkBlue:darken($blue, 10%);

p.block-message {
  padding:30px;
  text-align:center;
  margin:60px 0;
  font-size:20px;
}

fieldset + fieldset {
  margin-top:50px;
}

.required {
  & > label, & > legend {
    &:after {
      padding-left: 3px;
      content: "*";
    }
  }
}

.well-light {
  background:#fcfcfc;
}

.add-on {
  font-size:14px;
  color:#999;
  padding:4px 8px;
}

.img-tiny-list {
  img, & > div > div > a {
    width:42px;
    float:left;
    margin:0 10px 10px 0
  }
}

.navbar {
  .brand {
    background:url('../img/atados.png') no-repeat 0 0;
    width:136px;
    height:45px;
    overflow:hidden;
    text-indent:-999em;
    padding:0;
    margin:10px 54px 0 0px;
  }
}

@media (max-width: 979px) {
  .navbar {
    .brand {
      margin-left:20px;
    }
  }
}

.breadcrumb {
  background:none;
  padding:0;
  margin:0;

  li {
    &:after {
      color:#ccc;
      padding:0 5px 0 10px;
      content:"/";
    }
    &.active {
      &:after {
        content:"";
        padding:0;
      }
    }
  }
}

#footer {
  padding:25px 10px 25px 40px;
  margin-top:15px;
  
  a {
    color:#999;
  }

  .logo {
    width:180px;

    div {
      margin-top:55px;
      text-align:center;
      color:#999;
    }
  }

  ul {
    margin-left:0;

    li {
      list-style:none;
    }
  }
}

#footer-legal {
  margin-bottom: 18px;

  li {
    color:#999;
    display:inline;

    & + li {
      margin-left:2px;

      &:before {
        padding-right:5px;
        content: "·";
      }
    }
  }
}

.list {
  list-style:none;

  li {
    margin-bottom:16px;
    margin-top:32px;
  }

  .title {
    font-size: 22px;
    margin-bottom: 8px;
  }
}

.well {
  .form-actions {
    padding-left:0;
    padding-bottom:0;
    padding-right:0;
    margin-bottom:0;
  }
}

#volunteer-sign-up, #nonprofit-sign-up {

  .add-on {
    padding:4px 5px;
    width:178px;
  }

  .error .add-on {
    color:#B94A48;
  }

  .input-prepend input {
    width: 231px;
  }

  .form-terms {
    font-size: 11px;
    margin-bottom:10px;
    margin-top:10px;
  }

  .form-actions {
    margin-top: 6px;
    padding-top: 12px;
  }

}

@media (max-width: 767px) {
  #volunteer-sign-up, #nonprofit-sign-up {
    .input-prepend input {
      width: 122px;
    }
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #volunteer-sign-up, #nonprofit-sign-up {
    .input-prepend input {
      width: 123px;
    }
  }
}
@media (min-width: 1200px) {
  #volunteer-sign-up, #nonprofit-sign-up {
    .input-prepend input {
      width: 341px;
    }
  }
}

#sign-in {
  margin:70px auto;
  width:300px;

  input[type=text], input[type=password] {
    width:243px;
  }

  .checkbox {
    float:right;
    text-align:right;
    width:130px;
    margin-right:5px;
    font-size:11px;
    color:#666;

    input {
      margin-top:0;
      float:none;
    }
  } 
}

#nonprofit-home {
  h1 {
    margin:10px 0 0;
  }

  & > .row {
    margin-bottom:20px;
  }
}

#project-nonprofit {
  .nav  {
    .badge {
      float:right;
      margin-top:2px;
    }
  }
}

#project-edit {
  .absolute-url {
    padding:4px 0;
    display:block
  }
  .delete-project {
    float:right;
  }
}

.profile-picture {
  position:relative;
  margin-bottom:20px;
  width:220px;
  height:220px;

  & > div, & > img {
    width:220px;
    height:220px;
  }

  a {
    position:absolute;
    bottom:-10px;
    left:10px;
    display:none;
  }

  &:hover {
    a {
      display:inline;
    }
  }
}

#project-details {
  .page-header {
    position:relative;

    .project-actions {
      position:absolute;
      right:0;
      top:0;
      width:220px;
    }
  }

  .project {
    
    .row {
      margin-bottom:20px;

      p {
        text-align: justify;
      }

      h2 {
        text-align:right;
        font-weight:bold;
        font-size:1em;

        &:after {
          content:":";
        }
      }
    }
  }

  aside {
    .row {
      margin-bottom:20px;
      
      .well {
        margin-bottom:0;
      }
    }
  }
}

.project-list {
  .row + .row {
    margin-top:40px;
  }

  .project-item {
    text-align: center;
    background:#fff;
    height:360px;
    overflow:hidden;
    max-width:270px;

    .title {
      display:block;
      text-transform:uppercase;
      font-size:14px;
      color:#69d1e8;
      font-family:'Francois One', sans-serif;
      margin:10px 10px 5px;
    }

    p {
      text-align: left;
      margin:0 10px;
      font-size:12px;
    }
  }
}

@media (max-width: 979px) {
  .project-list {
    .project-item + .project-item {
      margin-top:40px;
    }
  }
}

.well-header {
  position:relative;

  div {
    position:absolute;
    top:2px;
    right:0;
  }
}

.select-button-list {
  padding:0;
  margin:1px 1px 10px 0;
  float:left;
  width:100%;

  li {
    list-style:none;
    margin:0;
    padding:5px;
    float:left;
    border:1px solid #ddd;
    margin:-1px -1px 0 0;
    background:#fff;

    input {
      display:none;
    }

    a {
      float:left;
      width:118px;
      height:56px;
      overflow:hidden;
      padding:8px;
      background:#fff;
      color:#333;

      &:hover {
        background:$blue;
        color:#fff;
        text-decoration:none;
      }
    }

    &.active {
      a {
        background:$darkBlue;
        color:#fff;
        text-decoration:none;
      }
    }

  }
}

.table-availabilities {
  td, thead th {
    text-align:center;
  }
}

.search-result {
  .page-header {
    position:relative;

    .form-search {
      position:absolute;
      right:0;
      top:0;
      width:700px;
    }
  }
  .nav  {
    &.nav-model {
      padding-bottom:28px;
      border-bottom:1px solid $grayLighter;
    }

    li {
      .results-total {
        float:right;
        font-size:13px;
        color:$grayLight;
      }
    }
  }

  form {

    input {
      font-size:18px;
      height:30px;
    }

    button {
      font-size:18px;
      height:40px;
    }
  }

  .filter {
    .title {
      font-weight:bold;
    }
  }

  .result {

    .bar {
      font-weight:bold;
      margin-bottom:18px;
    }

    .pagination {

      li {
        list-style:none;
        display:inline;
        
        &:before {
          content:"|";
          color:#ccc;
        }

        &:first-child {
          &:before {
            content:"";
          }
        }
      }
    }
  }
}
