{% extends 'atados/core/base.html' %}
{% load i18n bootstrap_toolkit %}
{% load url from future %}

{% block out_breadcrumb %}
{% endblock %}

{% block content %}
<div class="search-result">
  <div class="page-header">
    <h1>{% trans "Explore projects" %}</h1>
  </div>

  <ul class="results row">
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
    <li class="span4 project-item">
    <img src="{{ STATIC_URL }}img/thumb/300.gif" alt="">
    <h2>Oficinas de Cultura</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
    </li>
  </ul>

</div>
{% endblock %}
