{% extends 'atados_project/nonprofit.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li><a href="{{ nonprofit.get_absolute_url }}">{{ nonprofit.name }}</a></li>
<li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
<li class="active">{% trans "Volunteers" %}</li>
{% endblock %}

{% block inner_content %}
<div id="project-collaborators">
  <div class="row">
    <div class="span9">
      {% if project.apply_set.all %}
      <ul>
      {% for apply in project.apply_set.all %}
        <li><a href="{{ apply.volunteer.get_absolute_url }}">{{ apply.volunteer }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
      {% trans "No volunteers" %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
