{% extends 'atados_project/details.html' %}
{% load i18n atados_tags thumbnail %}

{% block project %}

<div class="row">
  <div class="span9 details">
    {{ project.details|linebreaks }}
  </div>
</div>
{% if project.vacancies %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Vacancies" %}</h2>
    {{ project.vacancies }}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Causes" %}</h2>
    {% for cause in  project.causes.all %}
    <span class="tag">{{ cause }}</span>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="span9">
    <h2>{% trans "Skills" %}</h2>
    {% for skill in  project.skills.all %}
    <span class="label label-info">{{ skill }}</span>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="span9">
    <h2>{% trans "Prerequisites" %}</h2>
    {{ project.prerequisites }}
  </div>
</div>
{% if project.weekly_hours %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Weekly hours" %}</h2>
    {{ project.work.weekly_hours }}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Availability" %}</h2>
    {{ project.work.availabilities|as_availabilities_table }}
  </div>
</div>
<div class="row">
  <div class="span9">
    <h2>{% trans "Location" %}</h2>
    {% if project.can_be_done_remotely %}
    {% trans "This work can be done remotely." %}
    {% else %}
    {% trans "This work can't be done remotely." %}
    {% endif %} <br />
    {% trans "Addressline" %} {{ project.addressline }} <br />
    {% trans "Neighborhood" %} {{ project.neighborhood }} <br />
    {% trans "City" %} {{ project.city }} <br />
  </div>
</div>
{% endblock %}

