{% extends 'atados_project/details.html' %}
{% load i18n atados_tags thumbnail %}

{% block project %}

<div class="row">
  <div class="span9 details">
    <h2>{% trans "Details" %}</h2>
    {{ project.details|linebreaks }}
  </div>
</div>
{% if project.causes.all %}
  <div class="row">
    <div class="span9">
      <h2>{% trans "Causes" %}</h2>
      {% for cause in  project.causes.all %}
      <span class="tag">{{ cause }}</span>
      {% endfor %}
    </div>
  </div>
{% endif %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Location" %}</h2>
    {{ project.work.address.addressline }} {{ project.work.address.addressnumber }}<br />
    {{ project.work.address|as_location_string }} <br />

    {% if project.can_be_done_remotely %}
    {% trans "This work can be done remotely." %}
    {% else %}
    {% trans "This work can't be done remotely." %}
    {% endif %}

  </div>
</div>
{% if project.vacancies %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Vacancies" %}</h2>
    {{ project.vacancies }}
  </div>
</div>
{% endif %}
{% if project.work.role_set.all %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Roles" %}</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>{% trans "Role" %}</th>
          <th>{% trans "Prerequisites" %}</th>
          <th style="text-align:right">{% trans "Vacancies" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for role in project.work.role_set.all %}
        <tr>
          <td>{{ role.name }}</td>
          <td>{{ role.prerequisites|default_if_none:"" }}</td>
          <td style="text-align:right">{{ role.vacancies|default_if_none:"" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% if project.skills.all %}
  <div class="row">
    <div class="span9">
      <h2>{% trans "Skills" %}</h2>
      {% for skill in project.skills.all %}
      <span class="tag">{{ skill }}</span>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% if project.roles.all %}
  <div class="row">
    <div class="span9">
      <h2>{% trans "Skills" %}</h2>
      {% for skill in project.skills.all %}
      <span class="tag">{{ skill }}</span>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% if project.weekly_hours %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Weekly hours" %}</h2>
    {{ project.work.weekly_hours }}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Availability" %}</h2>
    {{ project.work.availabilities|as_availabilities_table }}
  </div>
</div>
{% endblock %}

