{% extends 'atados_core/base.html' %}
{% load i18n bootstrap_toolkit thumbnail %}

{% block title %}{% trans "Voluntary work: " %}{{ project.name }}{% endblock %}

{% block header %}
<div id="project-header">

  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="image">
          {% thumbnail project.image "370x247" crop="center" as im %}
          <img alt="{{ project }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
          {% if nonprofit in nonprofit_list %}
          <a class="btn" href="{% url "project:edit-project-picture" nonprofit.slug project.slug %}"><i class="icon-edit"></i> {% trans "Edit profile picture" %}</a>
          {% endif %}
          {% empty %}
          <img src="{{ STATIC_URL }}img/thumb/370x247.gif" width="370" height="247" />
          {% if nonprofit in nonprofit_list %}
          <a class="btn" href="{% url "project:edit-project-picture" nonprofit.slug project.slug %}"><i class="icon-edit"></i> {% trans "Add profile picture" %}</a>
          {% endif %}
          {% endthumbnail %}
        </div><!-- /.image -->
      </div>

      <div class="span8">
        <h1>{{ project.name }}</h1>
        <p class="location">{{ project.get_location_string }}</p>
        <p class="description">{{ project.get_description }}</p>

        {% if project.closed %}
        <span class="btn btn-large disable">{% trans "Closed" %}</span>
        {% else %}
        {% if request.user.is_authenticated %}
        {% if apply %}
        <span class="btn btn-primary btn-large disable">{% trans "You're already applied" %}</span>
        {% else %}
        <a role="button" class="btn btn-primary btn-large btn-apply-confirm" href="#applyModal" data-toggle="modal">{% trans "Apply" %}</a>
        {% endif %}
        {% else %}
        <a class="btn btn-primary btn-large" href="{% url "atados:sign-in" %}?next={{ request.path }}">{% trans "Apply" %}</a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ nonprofit.get_absolute_url }}">{{ nonprofit.name }}</a></li>
<li class="active">{{ project.name }}</li>
{% endblock %}

{% block content %}
<div id="project-details">
  <div class="row">
    <div class="span9">
      <section class="project">
        {% block project %}
        {% endblock %}
      </section>
    </div>
    <div class="span3">
      <aside>
        <div class="row">
          <div class="span3">
            <div class="well">
              <a class="well-title" title="{{ nonprofit.name }}" href="{{ nonprofit.get_absolute_url }}">{{ nonprofit.name }}</a>
              {% if nonprofit.details %}
                <p>{{ nonprofit.details|truncatechars:250 }}</p>
              {% endif %}
              <p><a title="{{ nonprofit.name }}" href="{{ nonprofit.get_absolute_url }}">{% trans "View details" %}</a></p>
            </div>
          </div>
        </div>
        {% if project.apply_set.all %}
        <div class="row">
          <div class="span3">
            <div class="well">
              <span class="well-title">{% trans "Volunteers" %}</span>
              {% for apply in project.apply_set.all %}
              <div class="media">
                {% thumbnail apply.volunteer.image "34x34" crop="center" as im %}
                <a href="{{ apply.volunteer.get_absolute_url }}" class="pull-left"><img class="media-object" alt="{{ apply.volunteer }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                {% empty %}
                <a href="{{ apply.volunteer.get_absolute_url }}" class="pull-left"><img class="media-object" src="{{ STATIC_URL }}img/thumb/34x34.gif" alt="" width="34" height="34"></a>
                {% endthumbnail %}
                <div class="media-body">
                  <a href="{{ apply.volunteer.get_absolute_url }}">{{ apply.volunteer.user.first_name }}</a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
      </aside>
    </div>
  </div>

  <div id="applyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="applyModalLabel">{% trans "Apply" %}</h3>
    </div>
    <div class="modal-body">
      <p>{% with project.name as project_name %}{% blocktrans %}You are applying for &quot;{{ project_name }}&quot;.{% endblocktrans %}{% endwith %}</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
      <button type="button" class="btn btn-primary btn-apply" data-loading-text="{% trans "Appying..." %}">{% trans "Apply" %}</button>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
  $('.btn-apply').click(function(){
    btn = $(this);
    btn.button('loading');
    $.ajax({
      url: '{% url "project:apply" nonprofit.slug project.slug %}',
      dataType: 'json',
      type: 'post',
      success: function(data) {
        $('#applyModal').modal('hide')
        $('.btn-apply-confirm').html("{% trans "You're already applied" %}").prop("disabled", true).addClass("ui-state-disabled");
      },
      error: function(error) {
        btn.button('reset');
      }
    });
  });
</script>
{% endblock %}
