{% extends 'atados_project/details.html' %}
{% load i18n thumbnail humanize %}

{% block project %}

<div class="row">
  <div class="span9 details">
    <h2>{% trans "Details" %}</h2>
    {{ project.details|linebreaks }}
  </div>
</div>
{% if project.donation.material_set.all %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Materials" %}</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>{% trans "Material" %}</th>
          <th style="text-align:right">{% trans "Quantity" %}</th>
        </tr>
      </thead>
      <tbody>
      {% for material in project.donation.material_set.all %}
      <tr>
        <td>{{ material.name }}</td>
        <td style="text-align:right">{{ material.quantity|intcomma }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="span9">
    <h2>{% trans "Causes" %}</h2>
    {% for cause in  project.causes.all %}
    <span class="tag">{{ cause }}</span>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="span9">
    <h2>{% trans "Location" %}</h2>
    {% if project.can_be_done_remotely %}
    {% trans "This work can be done remotely." %}
    {% else %}
    {% trans "This work can't be done remotely." %}
    {% endif %} <br />
    {% trans "Addressline" %} {{ project.addressline }} <br />
    {% trans "Neighborhood" %} {{ project.neighborhood }} <br />
    {% trans "City" %} {{ project.city }} <br />
  </div>
</div>
{% endblock %}

