{% load i18n bootstrap_toolkit atados_tags %}
<fieldset>
  {{ project_form.name|as_bootstrap }}
</fieldset>
<fieldset>
  <legend>{% trans "Causes" %}</legend>
  {{ project_form.causes|as_select_button_list_field }}
</fieldset>
<fieldset>
  <legend>{% trans "Skills" %}</legend>
  {{ work_form.skills|as_select_button_list_field }}
</fieldset>
<fieldset>
  <legend>{% trans "Roles" %}</legend>
  <div class="roles">
    {{ role_formset.management_form }}
    <div class="role-forms">
      {% for role_form in role_formset %}
      <div class="role-form">
        {{ role_form.id|as_bootstrap }}
        <div class="row-fluid">
          <div class="span8">
            {{ role_form.name|as_bootstrap }}
          </div>
          <div class="span4">
            {{ role_form.vacancies|as_bootstrap }}
          </div>
        </div>
        {{ role_form.prerequisites|as_bootstrap }}
      </div>
      {% endfor %}
    </div>
    
    <div class="form-actions">
      <button type="button" class="btn add"><i class="icon-plus"></i> {% trans "Add more roles" %}</button>
    </div>

    <div class="hide empty-form role-form">
      <div class="row-fluid">
        <div class="span8">
          {{ role_formset.empty_form.name|as_bootstrap }}
        </div>
        <div class="span4">
          {{ role_formset.empty_form.vacancies|as_bootstrap }}
        </div>
      </div>
      {{ role_formset.empty_form.prerequisites|as_bootstrap }}
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>{% trans "Availability" %}</legend>
  <div class="row-fluid">
    <div class="span4">
      {{ work_form.weekly_hours|as_bootstrap }}
    </div>
  </div>

  {{ work_form.availabilities|as_availabilities_field }}

</fieldset>
<fieldset>
  <legend>{% trans "Location" %}</legend>
  {{ work_form.can_be_done_remotely|as_bootstrap }}

  {% if work_form.can_be_done_remotely.value %}
    {% include "atados_core/address-fields.html" with class="hide" %}
  {% else %}
    {% include "atados_core/address-fields.html" %}
  {% endif %}
</fieldset>
<fieldset id="project-new-contact">
  <legend>{% trans "Contact" %}</legend>
  {{ project_form.responsible|as_bootstrap }}
  <div class="row-fluid">
    <div class="span6">
      {{ project_form.phone|as_bootstrap }}
    </div>
    <div class="span6">
      {{ project_form.email|as_bootstrap }}
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>{% trans "More info" %}</legend>
  {{ project_form.details|as_bootstrap }}
</fieldset>
