{% load i18n bootstrap_toolkit atados_core %}
<fieldset>
  {{ project_form.name|as_bootstrap }}
</fieldset>
<fieldset>
  <legend>{% trans "Causes" %}</legend>
  {{ project_form.causes|as_select_button_list_field }}
</fieldset>
<fieldset>
  <legend>{% trans "Skills" %}</legend>
  {{ project_form.skills|as_select_button_list_field }}
  {{ project_form.prerequisites|as_bootstrap }}
</fieldset>
<fieldset>
  <legend>{% trans "Availability" %}</legend>
  <div class="row-fluid">
    <div class="span4">
      {{ project_form.weekly_hours|as_bootstrap }}
    </div>
  </div>

  {{ project_form.availabilities|as_availabilities_field }}

</fieldset>
<fieldset>
  <legend>{% trans "Location" %}</legend>
  {{ project_form.can_be_done_remotely|as_bootstrap }}
  {% include "atados_core/location-fields.html" %}
</fieldset>
<fieldset id="project-new-contact">
  <legend>{% trans "Contact" %}</legend>
  {{ project_form.responsible|as_bootstrap }}
  <div class="row-fluid">
    <div class="span6">
      {{ project_form.phone|as_bootstrap }}
    </div>
    <div class="span6">
      {{ project_form.email|as_bootstrap }}
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>{% trans "More info" %}</legend>
  {{ project_form.details|as_bootstrap }}
</fieldset>
