{% extends 'atados_volunteer/base.html' %}
{% load i18n thumbnail atados_tags %}

{% block breadcrumb %}
  <li class="active">{{ volunteer.user.first_name }}</li>
{% endblock %}

{% block content %}
  <div id="volunteer-details">
    <div class="page-header">
      <h1>{{ volunteer.user.first_name }}</h1>
    </div>
    <div class="row">
      <div class="span3">
        <div class="row">
          <div class="span3">
            <div class="image">
              {% thumbnail volunteer.image "270x270" crop="center" as im %}
                <img class="img-rounded" alt="{{ volunteer }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
                {% if volunteer.user == request.user %}
                  <a class="btn" href="{% url "volunteer:edit-volunteer-picture" volunteer.user.username %}"><i class="icon-edit"></i> {% trans "Edit profile picture" %}</a>
                {% endif %}
                {% empty %}
                  <img src="{{ STATIC_URL }}img/thumb/300x300.gif" width="270" height="270" />
                  {% if volunteer.user == request.user %}
                  <a class="btn" href="{% url "volunteer:edit-volunteer-picture" volunteer.user.username %}"><i class="icon-edit"></i> {% trans "Add profile picture" %}</a>
                {% endif %}
              {% endthumbnail %}
            </div><!-- /.image -->
          </div>
        </div>

        {% if volunteer.causes.all %}
          <div class="row">
            <div class="span3">
              <div class="well">
                <h2 class="well-title">{% trans "Causes" %}</h2>
                <ul class="causes">
                  {% for cause in volunteer.causes.all %}
                    <li>{{ cause.name }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endif %}

        {% if volunteer.skills.all %}
          <div class="row">
            <div class="span3">
              <div class="well">
                <h2 class="well-title">{% trans "Skills" %}</h2>
                <ul class="skills">
                  {% for skill in volunteer.skills.all %}
                    <li>{{ skill.name }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
      </div>

    <!-- TODO(mpomarole): Add div where user can edit and see personal information. -->
    <div class="span9">
      <div class="well">
        <h2>{{ volunteer.username }}</h2>
      </div>
    </div>

    <div class="span9">
      <div class="well">
          <h2>{% trans "Recent activities" %}</h2>
          {% if activities %}
            <ul class="activities">
              {% for activity in activities %}
                {{ activity|as_activity_li }}
              {% endfor %}
            </ul>
          {% else %}
            {% trans "No activity yet." %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
