{% extends 'atados_volunteer/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li class="active">{% trans "Become a volunteer" %}</li>
{% endblock %}

{% block content %}
<div id="volunteer-sign-up">
  <div class="page-header">
    <h1>{% trans "Sign up to become a volunteer" %}</h1>
  </div>

  <div class="row">
    <div class="span6 offset3">
      <form class="well" method="post" action="{% url "volunteer:sign-up" %}">{% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-terms alert">
          {% url "atados:terms" as terms_url %}
          {% url "atados:privacy" as privacy_url %}
          {% blocktrans %}
          By clicking Sign Up, you are indicating that you have read and agree to the <a tabindex="-1" href="{{ terms_url }}">Terms of Service</a> and <a tabindex="-1" href="{{ privacy_url }}">Privacy Policy</a>.
          {% endblocktrans %}
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>

</div>
{% endblock %}
